body {
	font-family: cursive;
	color: black;
	background: #e8eaf6;
}


/*...css for header*/

div#text {
    background-image: url("https://i.ytimg.com/vi/rCRP-5om_3Y/maxresdefault.jpg");
    background-repeat: no-repeat;
    height: 660px;
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    background-position: center;
}

/*...for modal*/
.modal{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
 	left: 25%;
 	top: 27%;
}

.modal-content {
	background: linear-gradient(#e8eaf6, #5c6dc0);
	border: solid;
	height: 260px;
	width: 650px;
	display: inline-block;
	text-align: center;
	font-size: 25px;
}

#email {
	line-height: 2em;
    font-size: 1em;
}

.close{
	float: right;
	font-weight: bold;
	color: gray;
	font-size: 28px; 
	margin-right: 10px;
}


/*.....for paragraph*/
.content {
	width: 1295px;
	margin-left: 5%;
	font-size: 20px;
	
}

.bold {
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

.paragraph_one {
	margin-bottom: 20px;
	background: #c5cae9;
}

.paragraph_two {
	margin-top: 10px;
	background: #c5cae9;
}

.paragraph_three {
	margin-top: 10px;
	background: #c5cae9;
}
/*....for resources*/

.resources {
	text-align: center;
	font-weight: bold;
}

.video {
	text-align: center;
}
